html {
  direction: rtl !important;
}

.gandom {
  font-family: gandom;
}
.parastoo {
  font-family: parastoo;
}
.sahel {
  font-family: sahel;
}
.samim {
  font-family: samim;
}
.shabnam {
  font-family: shabnam;
}
.tanha {
  font-family: tanha;
}
.vazir {
  font-family: vazir;
}
